<main>
  <div class="grid grid-flow-row-dense grid-cols-3 grid-rows-2">
    <div class="col-span-2 m-8 card">
      <div>
        <h3
          tabindex="0"
          (click)="salted()"
          (keydown)="handleKeyDownSalted($event)"
        >
          Salgados
        </h3>
        <h3
          tabindex="0"
          (click)="sweet()"
          (keydown)="handleKeyDownSweet($event)"
        >
          Doces
        </h3>
      </div>
      <app-carroussel [cards]="foods" />
    </div>
    <app-cart class="row-span-2" />
  </div>
</main>
