<main>
  <div class="grid grid-flow-row-dense grid-cols-3 grid-rows-2">
    <div class="col-span-2 m-8 card">
      <div>
        <h3
          tabindex="0"
          (click)="filterByType('entry')"
          (keydown)="handleKeyDown($event, 'entry')"
        >
          Entradas
        </h3>
        <h3
          tabindex="0"
          (click)="filterByType('portions')"
          (keydown)="handleKeyDown($event, 'portions')"
        >
          Porções
        </h3>
        <h3
          tabindex="0"
          (click)="filterByType('main')"
          (keydown)="handleKeyDown($event, 'main')"
        >
          Pratos Principais
        </h3>
        <h3
          tabindex="0"
          (click)="filterByType('dessert')"
          (keydown)="handleKeyDown($event, 'dessert')"
        >
          Sobremesas
        </h3>
        <h3
          tabindex="0"
          (click)="filterByType('drink')"
          (keydown)="handleKeyDown($event, 'drink')"
        >
          Bebidas
        </h3>
      </div>
      @if (filteredFoods && filteredFoods.length === 0) {
      <h1>Manutenção</h1>
      <!-- Ajustar para lista vazia -->
      } @else {<app-carroussel [cards]="filteredFoods" />}
    </div>
    <app-cart class="row-span-2" />
  </div>
</main>
