@if (login) {
<div class="form-container">
  <p class="title">Login</p>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
    <div class="input-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        placeholder=""
        name="username"
        formControlName="username"
        autocomplete="username"
      />
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input
        id="password"
        placeholder=""
        type="password"
        name="password"
        formControlName="password"
        autocomplete="current-password"
      />
    </div>
    <button class="sign mt-6" type="submit">Sign in</button>
  </form>
</div>
} @else {
<div class="form-container">
  <p class="title">Register</p>
  <form class="form" [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <div class="input-group">
      <label for="name">Nome</label>
      <input
        type="text"
        id="name"
        placeholder=""
        name="name"
        formControlName="name"
        autocomplete="name"
      />
    </div>
    <div class="input-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        placeholder=""
        name="username"
        formControlName="username"
        autocomplete="username"
      />
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input
        id="password"
        placeholder=""
        type="password"
        name="password"
        formControlName="password"
        autocomplete="current-password"
      />
    </div>
    <div class="input-group">
      <label for="role">Role</label>
      <select name="role" id="role" formControlName="role">
        <option value="ADMIN">Admin</option>
        <option value="USER">User</option>
      </select>
    </div>
    <button class="sign mt-6" type="submit">Sign in</button>
  </form>
</div>
}
