<img src="logo.svg" alt="Logo do restaurante" class="w-12 h-12" />

@let name = name$ | async;
@let login = login$ | async;

@if (login) {
<div class="flex gap-4 items-center">
  <span>Ola, {{ name }}, ao invés de fazer um pedido, deseja chamar o garçom?</span>
  <button
    class="bg-secondy hover:bg-secondyHover text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out"
  >
    Chamar o garçom
  </button>
  <button
    class="bg-secondy hover:bg-secondyHover text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out"
    (click)="logout()"
    routerLink="auth/login"
  >
    Sair
  </button>
</div>
} @else {
<div class="flex gap-4 items-center">
  <button routerLink="/auth/login">Login</button>
  <button routerLink="/auth/register">Register</button>
</div>
}
